
= form_for :article, url: articles_path do |f|

  - if @article.errors.any?
    - @article.errors.full_messages.each do |msg|
      %p
        = msg
        
  %p 

    = f.label :title
    = f.text_field :title
  %p
    = f.label :text
    = f.text_area :text

  %p
    = f.submit

= link_to 'Back', articles_path
